<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>FE0222B-BE_progetto_settimana7</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>it.epicode.presentation.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisualizzaContatti</display-name>
    <servlet-name>VisualizzaContatti</servlet-name>
    <servlet-class>it.epicode.presentation.VisualizzaContatti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualizzaContatti</servlet-name>
    <url-pattern>/VisualizzaContatti</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InserisciContatto</display-name>
    <servlet-name>InserisciContatto</servlet-name>
    <servlet-class>it.epicode.presentation.InserisciContatto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserisciContatto</servlet-name>
    <url-pattern>/InserisciContatto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CercaPerCognome</display-name>
    <servlet-name>CercaPerCognome</servlet-name>
    <servlet-class>it.epicode.presentation.CercaPerCognome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CercaPerCognome</servlet-name>
    <url-pattern>/CercaPerCognome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CercaPerNumero</display-name>
    <servlet-name>CercaPerNumero</servlet-name>
    <servlet-class>it.epicode.presentation.CercaPerNumero</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CercaPerNumero</servlet-name>
    <url-pattern>/CercaPerNumero</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaContatto</display-name>
    <servlet-name>ModificaContatto</servlet-name>
    <servlet-class>it.epicode.presentation.ModificaContatto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaContatto</servlet-name>
    <url-pattern>/ModificaContatto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EliminaContatto</display-name>
    <servlet-name>EliminaContatto</servlet-name>
    <servlet-class>it.epicode.presentation.EliminaContatto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EliminaContatto</servlet-name>
    <url-pattern>/EliminaContatto</url-pattern>
  </servlet-mapping>
</web-app>